.topSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 180px;
  margin-top: 30px;
}

.leftSection img {
  height: 32rem;
  padding-left: 42px;
}

.rightSection {
  padding-right: 60px;
}

.rightSection h1 {
  background: #1877F2;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 38px;
  font-weight: 500;
  padding-bottom: 15px;
}

.rightSection p {
  color: rgb(75, 85, 99);
  font-weight: 400;
  font-size: 18px;
}